PyYAML==5.3.1
sentry-sdk==0.14.1
elastic-apm==5.5.2

##############################################################################
# Site-specific pip requirements                                             #
#                                                                            #
# To Do: Clarify whether this branch is intended to be Monash-specific.      #
# If not, the site-specific pip requirements should be sourced from          #
# somewhere else, e.g. a ConfigMap populated by the Jenkinsfile in a Monash  #
# specific branch of the k8s-config repository.                              #
##############################################################################
git+https://github.com/monash-merc/Monash_OpenID_Login@f04ccf49474c2126e35851ac9e57c28d3b4b37aa#egg=monash_openid_login
