PyYAML==5.1
sentry-sdk==0.10.2

##############################################################################
# Site-specific pip requirements                                             #
#                                                                            #
# To Do: Clarify whether this branch is intended to be Monash-specific.      #
# If not, the site-specific pip requirements should be sourced from          #
# somewhere else, e.g. a ConfigMap populated by the Jenkinsfile in a Monash  #
# specific branch of the k8s-config repository.                              #
##############################################################################
git+https://github.com/jameswettenhall/Monash_OpenID_Login@c88a479d8a1c5de04d51dc815165c700211e3e63#egg=monash_openid_login
