PyYAML==5.1
sentry-sdk==0.10.2

##############################################################################
# Site-specific pip requirements                                             #
#                                                                            #
# To Do: Clarify whether this branch is intended to be Monash-specific.      #
# If not, the site-specific pip requirements should be sourced from          #
# somewhere else, e.g. a ConfigMap populated by the Jenkinsfile in a Monash  #
# specific branch of the k8s-config repository.                              #
##############################################################################
git+https://github.com/monash-merc/Monash_OpenID_Login@22d9e6a3bd46778b7717094b79205fa6b9cb698c#egg=monash_openid_login
